<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>{% block title%}main storage{% endblock%}</title>
</head>
<body>
    <nav>
        <a href="/primeraEtapa">primera Etapa</a>
        <a href="/segundaEtapa">Segunda etapa</a>
        <a href="/terceraEtapa">Tercera etapa</a>
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>
</html>