
{% extends "base.html" %}

{% block main%}
<h1>Aprende a construir tu main staorage en minecraft!</h1>
    <img src="static/images/image.png" alt="icono">
    <p>en este tutorial veras las diferentes etapas de construccion de un main storage</p>
    <div>
        <h2>Porque construir un almacen?</h2>
        <p>cansado de tener que ordenar todos tus items manualmente? Pues te tengo la solucion, solamente tendras que construir este mega almacen uuna vez y no tendras que volver a ordenarlos manualmente en tu vida.
        </p>
    </div>
    <div>
        <h2>¿que materiales necesitaras para este fin?</h2>
        <p>
            muchos,demasiados, EXAGERADAMENTE demasiados.
        </p>
    </div>
    <div>
        <h2>Comenzemos a construir!</h2>
        <p>esta seccion la dividiremos en dos etapas</p>
        <a href="/primeraEtapa" class="btn">siguiente</a>
    </div>
   {% endblock%}