{% extends "base.html" %}

{% block main%}
        <h1>Los cimientos para tu almacen!</h1>
        <p>te <strong>recomendaria</strong> crear un perimetro de minimo 16*16 chunks para minimizar el lag</p>
        <img src="{{ url_for('static', path='image.png') }}" alt="">
        <div>
            <h2>¿que hacer en esta etapa?</h2>
            <p>
                pues construiremos una parte escencial, los cargadores de chunks. ¿Por que es tan importante? 
                Si no los construyes, lo pones a funcionar y te vas. Lo mas seguro es que se te vaya a romper
            </p>
        </div>
        <div>
            <h2>¿que diseño de cargadores de chunks usaremos?</h2>
            <p>pues utilizaremos uno que mandara las calabasas al neter y las devolvera, ocasionando que se cargen los chunks del overworld</p>
        </div>
        <div>
            <h2>¿En que parte del almacen lo construiremos?</h2>
            <p>abajo de este</p>
        </div>
        <div>
            <a href="/" class="btn">atras</a>
            y
            <a href="/segundaEtapa" class="btn">proximo</a>
        </div>
{% endblock %}