{% extends "base.html" %}

{% block main%}
        <h1>que haremos en esta etapa?</h1>
        <p>construiremos directamente el almacen</p>
        <img src="{{ url_for('static', path='image.png') }}" alt="">
        <div>
            <h2>¿que te recomiendo?</h2>
            <p>empieza de abajo para arriba</p>
        </div>
        <div>
            <a href="/primeraEtapa" class="btn">atras</a>
            y
            <a href="/terceraEtapa" class="btn">proximo</a>
        </div>
{% endblock %}